[submodule "src/libs/SharpLib"]
	path = src/libs/SharpLib
	url = git@github.com:Svengali/SharpLib.git
[submodule "src/libs/CodeGeneration.Roslyn"]
	path = src/libs/CodeGeneration.Roslyn
	url = https://github.com/Svengali/CodeGeneration.Roslyn
[submodule "src/libs/orleans"]
	path = src/libs/orleans
	url = https://github.com/Svengali/orleans
[submodule "src/libs/konsole"]
	path = src/libs/konsole
	url = https://github.com/Svengali/konsole
[submodule "src/libs/Discord.Net"]
	path = src/libs/Discord.Net
	url = https://github.com/Svengali/Discord.Net
[submodule "src/libs/discord-rpc-csharp"]
	path = src/libs/discord-rpc-csharp
	url = https://github.com/Svengali/discord-rpc-csharp
[submodule "src/libs/NLog"]
	path = src/libs/NLog
	url = https://github.com/Svengali/NLog
[submodule "src/libs/NLog.Targets.ElasticSearch"]
	path = src/libs/NLog.Targets.ElasticSearch
	url = https://github.com/Svengali/NLog.Targets.ElasticSearch
[submodule "src/libs/serilog"]
	path = src/libs/serilog
	url = https://github.com/Svengali/serilog
[submodule "src/libs/serilog-sinks-async"]
	path = src/libs/serilog-sinks-async
	url = https://github.com/Svengali/serilog-sinks-async
[submodule "src/libs/serilog-sinks-console"]
	path = src/libs/serilog-sinks-console
	url = https://github.com/Svengali/serilog-sinks-console
[submodule "src/libs/elasticsearch-net"]
	path = src/libs/elasticsearch-net
	url = https://github.com/Svengali/elasticsearch-net
[submodule "src/libs/Shielded"]
	path = src/libs/Shielded
	url = https://github.com/Svengali/Shielded