[submodule "src/libs/SharpLib"]
	path = src/libs/SharpLib
	url = https://github.com/Svengali/SharpLib.git
[submodule "src/libs/CodeGeneration.Roslyn"]
	path = src/libs/CodeGeneration.Roslyn
	url = https://github.com/Svengali/CodeGeneration.Roslyn
[submodule "src/libs/orleans"]
	path = src/libs/orleans
	url = https://github.com/Svengali/orleans
[submodule "src/libs/konsole"]
	path = src/libs/konsole
	url = https://github.com/Svengali/konsole
[submodule "src/libs/Discord.Net"]
	path = src/libs/Discord.Net
	url = https://github.com/Svengali/Discord.Net
[submodule "src/libs/discord-rpc-csharp"]
	path = src/libs/discord-rpc-csharp
	url = https://github.com/Svengali/discord-rpc-csharp
[submodule "src/libs/elasticsearch-net"]
	path = src/libs/elasticsearch-net
	url = https://github.com/Svengali/elasticsearch-net
[submodule "src/libs/Shielded"]
	path = src/libs/Shielded
	url = https://github.com/Svengali/Shielded
[submodule "src/libs/veldrid"]
	path = src/libs/veldrid
	url = https://github.com/Svengali/veldrid
[submodule "src/libs/geometry3Sharp"]
	path = src/libs/geometry3Sharp
	url = https://github.com/Svengali/geometry3Sharp
[submodule "src/libs/ComputeSharp"]
	path = src/libs/ComputeSharp
	url = https://github.com/Svengali/ComputeSharp
[submodule "src/libs/WaveFunctionCollapse"]
	path = src/libs/WaveFunctionCollapse
	url = https://github.com/Svengali/WaveFunctionCollapse
[submodule "src/libs/PriorityQueue"]
	path = src/libs/PriorityQueue
	url = https://github.com/Svengali/PriorityQueue
[submodule "src/libs/Ceras"]
	path = src/libs/Ceras
	url = https://github.com/Svengali/Ceras
[submodule "src/libs/Shielded.Gossip"]
	path = src/libs/Shielded.Gossip
	url = https://github.com/Svengali/Shielded.Gossip
[submodule "src/libs/MathSharp"]
	path = src/libs/MathSharp
	url = https://github.com/Svengali/MathSharp
